:root {
  --header: 10vh;
  --footer: 5vh;
  --main: calc(100vh - var(--header) - var(--footer));
  --main-color: #3b4252;
  --hf-color: #2e3440;
  --secondary-color: #d8dee9;
  --border-color: #81a1c1;
  --button-hover-color: #434c5e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
  color: var(--secondary-color);
}

/* Header thingy y'know */
header {
  background-color: var(--hf-color);
  height: var(--header);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-size: 4.5rem;
  font-weight: bold;
}

/* you cannot make a website without this thing ig */
main {
  background-color: var(--main-color);
  height: var(--main);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 42px;
}

.container {
  width: min(40%, 450px);
  height: min(50%, 450px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.btn-box {
  cursor: pointer;
  background: none;
  border: none;
  border-bottom: 3px solid var(--border-color);
  border-right: 3px solid var(--border-color);
}

.btn-box > span {
  font-size: clamp(1rem, 10vw, 6rem);
}

.btn-box:active {
  background-color: var(--button-hover-color);
}

.no-r {
  border-right: none;
}

.no-b {
  border-bottom: none;
}

.announcer {
  font-size: clamp(1rem, 10vw, 2rem);
}

/* the reset button */
.restart-btn {
  background: none;
  border: none;
  font-size: clamp(1rem, 10vw, 2rem);
  cursor: pointer;
}

/* i love foot(er element) */
footer {
  background-color: var(--hf-color);
  height: var(--footer);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.footer-text {
  font-size: .75rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-profile {
  width: 1.25rem;
  height: 1.25rem;
}